# Example Capistrano Configuration
# Override any aand all config from the capistrano ruby files
# [config/*.rb -- though mostly config/deploy.rb]

# Linux user
set :user, "ubuntu"
# The servers the application will run on
role :app, "yourserver.com"
# The git repo that should be cloned when deploying
set :repository, "http://github.com/yourforkof/wompt.com"
set :use_sudo, true

# Override or add any tasks here that you need to,
# Or remove this part entirely to use the defaults (see deploy.rb)
task :production do
  # :deployment variable should match task name
  # (think: production / staging / ...)
  set :deployment, 'production'

  # Path to deploy directory on destination server
  set :deploy_to, "/home/wompt/www/#{application}"
  set :branch, "master"

  # Only used one time during deploy:cold
  set :monit_config_location, "/etc/monit.d/"

  # environment string that is passed to the nodejs and auth apps at startup
  set :application_environment, 'production'

  # auto-git-tag on every deploy
  find_and_execute_task("deploy:tags:schedule_creation")
end

